<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoCommerce</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/main.js" defer></script>
</head>

<body>
  <div class="container">
    <h1>¡Bienvenido a GoCommerce!</h1>
    <a href="/login" class="btn" aria-label="Iniciar Sesión">Iniciar Sesión</a>
    <a href="/productos" class="btn" aria-label="Ver Productos">Ver Productos</a>
  </div>
</body>

</html>