<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container">
    <h1>Gestión de Productos</h1>
    <form id="formAgregar">
        <input type="text" placeholder="Nombre del Producto" id="nombre">
        <input type="number" placeholder="Precio" id="precio">
        <input type="number" placeholder="Stock" id="stock">
        <input type="number" placeholder="ID Categoría" id="categoria_id">
        <button type="submit">Agregar</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody id="productos"></tbody>
    </table>
</div>
<script src="js/main.js"></script>
</body>
</html>
